* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lucida Sans';
    padding: 90px 20px 0;
}

.header {
    background-color: #de595e;
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.gallery {
    display: grid;
    gap: 1rem;
    grid-auto-rows: 22rem;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
}

.down {
    background-color: #de595e;
    height: 50px;
    position: fixed;
    width: 100%;
    top: 89%;
    left: 0;
}

.nav {
    display: flex;
    justify-content: space-between;
    max-width: 992px;
    margin: 0 auto;
}

.nav-link {
    color: white;
    text-decoration: none;
}

.logo {
    font-size: 30px;
    font-weight: bold;
    padding: 0 40px;
    line-height: 80px;
}

.logof {
    padding: 0 60px;
    line-height: 100px;
    background: none;
    border: none;
}

.nav-menu {
    display: flex;
    margin-right: 40px;
    list-style: none;
}

.nav-menu-item {
    font-size: 18px;
    margin: 0 10px;
    line-height: 80px;
    text-transform: uppercase;
    width: max-content;
}

.nav-menu-link:hover,
.nav-menu-link-active {
    background-color: #e66c5d;
    transition: 0.5s;
}

.nav-toggle {
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    display: none;
    /*para que no se vea en pantalla completa*/
}

.container {
    width: 100%;
    display: flex;
    width: max-content;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card {
    width: 100%;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    justify-content: center;
    width: max-content;
}

.colorfont {
    color: #e66c5d;
}

table,
td,
th {
    border: 1px solid black;
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
}

th {
    text-align: left;
}


/* media query
*/

@media (max-width: 768px) {
    body {
        padding-top: 70px;
    }
    .header {
        height: 60px;
    }
    .logo {
        font-size: 25px;
        padding: 0 20px;
        line-height: 60px;
    }
    .nav-menu {
        flex-direction: column;
        align-items: center;
        margin: 0px;
        background-color: #e66c5d;
        position: fixed;
        left: 0;
        top: 60px;
        width: 100%;
        padding: 20px 0;
        height: calc(100% - 60);
        overflow-y: auto;
        /*para barra de escrol cuando lo necesite*/
        left: 100%;
        transition: left 0.3s;
    }
    .nav-menu-item {
        line-height: 70px;
    }
    .nav-menu-link:hover,
    .nav-menu-link-active {
        background: none;
        color: #eadaa2;
    }
    .nav-toggle {
        display: block;
    }
    .nav-menu_visible {
        left: 0%;
    }
    .center {
        flex-direction: column;
    }
}


/* MENU DISEÑO */

.gg-menu-oreos {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 16px;
    height: 18px;
    transform: scale(var(--ggs, 1))
}

.gg-menu-oreos::after,
.gg-menu-oreos::before {
    content: "";
    position: absolute;
    box-sizing: border-box;
    display: block;
    width: 16px;
    height: 8px;
    border-top: 3px solid;
    border-bottom: 3px solid;
    border-radius: 3px
}

.gg-menu-oreos::after {
    bottom: 0
}

.pokeball {
    position: relative;
    width: 150px;
    height: 150px;
    background: white;
    border: 4px solid black;
    border-radius: 50%;
    overflow: hidden;
}

.pokeball::before {
    content: "";
    position: absolute;
    background: red;
    width: 100%;
    height: 50%;
}

.pokeball::after {
    content: "";
    position: absolute;
    top: calc(50% - 3px);
    width: 100%;
    height: 50%;
    background: white;
    border-top: 5px solid;
}

.boton {
    position: absolute;
    width: 30px;
    height: 30px;
    border: 4px solid;
    border-radius: 50%;
    top: calc(50% - 15px - 4px);
    left: calc(50% - 15px - 4px);
    z-index: 10;
    background: white;
    box-shadow: 0 0 0 2px black;
}


/* PASADO + FEHCA +
BOOUGT A DOG IN DECEMBER TELLFE TENTY TELF  */